<div class="gallery">

    <p class="gallery__header">Галерея</p>
    <div class="gallery__wrapper" id="gallery__wrapper">

        {% set n = 6 %}
        {% for item in img_array|slice(0, n) %}

        <div class="galery__item"><a href="good/{{item.url}}"><img class="gallery__img" src="../img/small/{{item.img_url}}" alt=""></a></div>
        {% endfor %}


    </div>


</div>

<script>
    let a = document.getElementById('gallery__wrapper');
    let butn = "<button>Открыть больше картинок</button>";
    a.innerHTML=a.innerHTML + butn;
</script>
